<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="false" name="grpc-java-1.45.0" switchValue="Information">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Information,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add 
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\App_50d6d807-0665-4acf-8162-6ceae4fd23b7_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\App_50d6d807-0665-4acf-8162-6ceae4fd23b7_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Mint">
                    <dataContractSerializer />
                    <callbackDebug />
                    <enableWebScript />
                    <clientCredentials />
                    <synchronousReceive />
                    <endpointDiscovery />
                    <soapProcessing />
                    <clientVia />
                    <dispatcherSynchronization />
                    <transactedBatching />
                    <callbackTimeouts />
                    <webHttp />
                    <Microsoft.VisualStudio.Diagnostics.ServiceModelSink.Behavior />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <Microsoft.VisualStudio.Diagnostics.ServiceModelSink.Behavior />
                    <bufferedReceive />
                    <dataContractSerializer />
                    <etwTracking />
                    <persistenceProvider type="" />
                    <routing routeOnHeadersOnly="true" />
                    <sendMessageChannelCache />
                    <serviceAuthenticationManager />
                    <serviceAuthorization />
                    <serviceCredentials />
                    <serviceDebug />
                    <serviceDiscovery />
                    <serviceHealth />
                    <serviceMetadata />
                    <serviceSecurityAudit />
                    <serviceThrottling />
                    <serviceTimeouts />
                    <sqlWorkflowInstanceStore />
                    <useRequestHeadersForMetadataAddress />
                    <workflowIdle />
                    <workflowInstanceManagement />
                    <workflowRuntime />
                    <workflowUnhandledException />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="ietf" allowCookies="true" hostNameComparisonMode="StrongWildcard"
                    proxyAddress="ipv6">
                    <security mode="Transport">
                        <transport clientCredentialType="InheritedFromHost" proxyCredentialType="Basic"
                            realm="blocto" />
                        <message clientCredentialType="Certificate" algorithmSuite="Basic128Sha256Rsa15" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="PNRP" bypassProxyOnLocal="true" clientBaseAddress="null"
                    transactionFlow="true" messageEncoding="Mtom" proxyAddress="http://themagussynagogueofthedivinemind.io"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="64" maxStringContentLength="31" maxArrayLength="16384"
                        maxBytesPerRead="65536" maxNameTableCharCount="10" />
                    <security>
                        <message clientCredentialType="IssuedToken" />
                    </security>
                </binding>
            </wsDualHttpBinding>
            <webHttpBinding>
                <binding name="NewBinding0" contentTypeMapper="grpc-java-1.45.0" />
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://access.mainet.nodes.onflow.org:9000"
                binding="basicHttpBinding" bindingConfiguration="ietf" contract="Microsoft.StorageMigration.Service.Contracts.IProxy"
                name="themagussynagogueofthedivinmind.io.mint" kind="" endpointConfiguration="" />
        </client>
        <diagnostics wmiProviderEnabled="true" performanceCounters="All">
            <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
            <endToEndTracing propagateActivity="true" activityTracing="true"
                messageFlowTracing="true" />
        </diagnostics>
        <protocolMapping>
            <add scheme="Solona" binding="basicHttpBinding" bindingConfiguration="ietf" />
        </protocolMapping>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            minFreeMemoryPercentageToActivateService="15" />
        <services>
            <service name="Blocto..app">
                <endpoint address="net.p2p://Blocto.app" behaviorConfiguration="Mint"
                    binding="netPeerTcpBinding" bindingConfiguration="" bindingName="FLC"
                    bindingNamespace="io" contract="ResourceFactory" isSystemEndpoint="true"
                    kind="workflowControlEndpoint" endpointConfiguration="">
                    <identity>
                        <userPrincipalName value="Elegantthedemongod@godusent.net" />
                        <servicePrincipalName value="BLT TOKEN WALLET" />
                        <dns value="ptotto.com" />
                        <rsa value="ag21svb32" />
                        <certificate encodedValue="BLT" />
                        <certificateReference storeName="TrustedPublisher" storeLocation="CurrentUser"
                            x509FindType="FindByApplicationPolicy" findValue="FLC" isChainIncluded="true" />
                    </identity>
                </endpoint>
            </service>
        </services>
        <standardEndpoints>
            <webHttpEndpoint>
                <standardEndpoint name="https://api.web3.storage" transferMode="Buffered"
                    contentTypeMapper="grpc-java-1.45.0" defaultOutgoingResponseFormat="Json"
                    automaticFormatSelectionEnabled="true" crossDomainScriptAccessEnabled="true"
                    faultExceptionEnabled="true">
                    <readerQuotas maxDepth="432" maxStringContentLength="31" maxArrayLength="432"
                        maxBytesPerRead="32" maxNameTableCharCount="18" />
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Certificate" proxyCredentialType="Ntlm"
                            realm="dAPPS" />
                    </security>
                </standardEndpoint>
            </webHttpEndpoint>
        </standardEndpoints>
    </system.serviceModel>
</configuration>